.navbar{
    background-color: grey;
    font-size: large;
}

.nav-link{
    justify-content: end;
    font-size: large;
}

.img-nav{
    margin-left: 15px;
    height: 50px;
    width: 100px;
}

.collapse{
    display: flex;
    justify-content: end;
}